doctype html
html(lang="hu")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Köszonjük
        link(rel="stylesheet", href="./css/bootstrap.css")
        link(rel="icon", type="image/png" href="./assets/noso_logo2-remove.png")

        link(rel="stylesheet", href="./css/thankyou.css")
    body 
        .container-fluid.d-flex.flex-column.justify-content-evenly.h-100
            .container.d-flex.flex-column.justify-content-evenly#thanksWrapper
                h1.text-center Thanks
                p.h4.text-center.mt-4 Köszonjük, hogy felkeresett minket, hamarosan válaszolunk!
                .container.d-flex.flex-column.justify-content-end.h-20
                    a.w-100.text-center.h5(href="./index.html") Vissza a kezdőlapra 