doctype html
html(lang="hu")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/png" href="./assets/noso_logo2-remove.png")
        title NoSo - Villanyszerelés

        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")

        //- Bootstrap
        link(rel="stylesheet", href="./css/bootstrap.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js")

        //-  GSAP
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")

        script(src="./js/animation_villany.js" defer) 

        link(rel="stylesheet", href="./css/villany.css")
    body
        .loader.d-flex.flex-row.justify-content-center
            .d-flex.flex-column.justify-content-center
                .text
                    span No
                    span#So So
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
            .container
                a.navbar-brand(href="./index.html")
                    img#brand(src="./assets/noso_logo2-remove.png", width=64, height=64 alt="NoSo logo")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    .container.d-flex.flex-row.justify-content-lg-end
                        ul.navbar-nav
                            li.nav-item#navs
                                a.nav-link.active.navlink(aria-current='page' href='./index.html') Kezdőlap
                            li.nav-item#navs
                                a.nav-link.active.navlink(href='#info') Infó
                            //- li.nav-item#navs
                            //-     a.nav-link.active.navlink(href='#img') Referenciák
                            li.nav-item#navs
                                a.nav-link.active.navlink(href='#footer') Kapcsolat
        .container-fluid.d-flex.flex.column.flex-lg-row.text-light.justify-content-center#landing
            .container.d-flex.align-items-center.flex-column.justify-content-center#Textbox
                h1.text-center Professzionalis villanyszerelés
                h5.w-lg-50.text-center#info Annak biztosítása érdekében, hogy ügyfeleink a legpontosabb és leghatékonyabb eredményeket kapják villanyszerelői igényeik kielégítésére.
        .container-fluid.d-flex.justify-content-center.flex-column
                h3.my-3.text-center.text-underline#headerWrapper Eddigi Munkáink
                .container.d-flex.justify-content-center#inf
                    p.w-75.text-center Olyan villanyszerelő cég vagyunk, amely büszke arra, hogy a lehető legjobb szolgáltatást nyújtja ügyfeleinknek. Mindig arra törekszünk, hogy a lehető legjobb munkát végezzük, és munkánkat itt láthatja. Hiszünk a minőségi munkában tisztességes áron, és mindig örömmel segítünk ügyfeleinknek.
                .container-fluid.d-flex.flex-column.align-items-center
                    .container-fluid.d-flex.flex-column.flex-lg-row.justify-content-center
                        .container.gx-0.d-flex.flex.row.justify-content-center#image 
                            img.my-1.rounded(src="./assets/photos/villany_2.jpeg", alt="Kész villanzsyerelési munka")
                        .container.gx-0.d-flex.flex.row.justify-content-center#image 
                            img.my-1.rounded(src="./assets/photos/villany_3.jpeg", alt="Kábel elvezetés")
                        .container.gx-0.d-flex.flex.row.justify-content-center#image 
                            img.my-1.rounded(src="./assets/photos/villany_1.jpg", alt="Kapcsolószekrény szerelés")
                .container-fluid.mt-5#arajanlat
                    a.h3.my-3.px-2(href='#formWrapper') Árajánlatért keressen fel minket!
        .container-fluid.d-flex.flex.column.flex-lg-row.justify-content-evenly.text-center.mt-4.p-0#formWrapper
            form.d-flex.flex.row.justify-content-center#form(action="https://formsubmit.co/sascsani@gmail.com" method="POST") 
                    h3.my-3 Küldjön emailt nekünk
                    .container.mt-1
                        input.text-center#name(type="text", name="name" placeholder="név" required) 
                    .container.mt-3
                        input.text-center#email(type="email", name="email" placeholder="email" required) 
                    .container.mt-3
                        input.text-center#tel(type="tel", name="tel" placeholder="telefon" required)
                    .container.mt-3
                        input.text-center#targy(type="text", name="targy" placeholder="tárgy" required)
                    .container.mt-3
                        textarea#textarea(name="", cols="30", rows="10" placeholder='Üzenet' required)
                    input(type="hidden" name="_captcha" value="false")
                    input( type="hidden" name="_template" value="table")
                    input(type="hidden" name="_next" value="localhost:5500/dist/thankyou.html")
                    button.btn.my-3#kuldes(type='submit') Küldés
        //- footer
        .container-fluid#footer
            .container-fluid.d-flex.flex-lg-row.flex-column.justify-content-lg-evenly.justify-content-center
                .container.d-flex.flex-row.justify-content-center.d-none
                    //- h3.mt-3.ms-lg-5.text-lg-start.text-center
                    //-     span No
                    //-     span#So So
                .container
                .container.d-flex.flex-column.justify-content-between.my-3#contact
                    h4.text-center#kapcs4 Kapcsolat
                    .container.d-flex.flex-row.mt-2.justify-content-center#cttxt
                        i.fa-solid.fa-envelope.me-1.pt-1
                        span#mail Email:
                        a.ms-1(href="mailto:NoSo@nosobuilds.com") NoSo@nosobuilds.com  
                    .container.d-flex.flex-row.my-3.justify-content-center#cttxt
                        i.fa-solid.fa-phone.me-1
                        span Telefon:
                        a.ms-1(href="tel:+36306229858") +36 30 622 9858
                    .container.d-flex.flex-row.justify-content-center#cttxt
                        i.fa-solid.fa-house.me-1.pt-1
                        span Szekhely:
                        a.ms-1.text-nowrap(href="")  1141 Bp. Szugló utca 82
                .container.d-flex.flex-row.justify-content-center
                    h3.mt-3.ms-lg-5.text-lg-start.text-center.d-none.d-lg-block
                        span.text-center No
                        span.text-center#So So
                .container.d-flex.flex-column.justify-content-between.my-3
                    h4.text-center Fedezze fel ezeket is
                    .container.text-center#explorer
                        a.h6(href="./index.html") Kezdőlap
                    .container.text-center#explorer
                        a.h6(href="#info") Infó
                    .container.text-center#explorer
                        a.h6#galleryBtn(href="./gepeszet.html") Gépészet
                    .container.text-center#explorer
                        a.h6#kontakt(href="#contact") Kapcsolat
                .container.d-flex.flex-column.justify-content-end.pb-2
                    .container.d-flex.flex-row.justify-content-center.justify-content-lg-end
                        h6#copyright Made by Sas Csanád